# Sonja

Content-Ocaml: 2min45
    Content: 1min
    Ocaml: 1m45

Demo: 13min
- 6:15
- +lsp: +2min
- slow example: +2min32
- Last example (change at the end + cancellation): +2min

Everything betwen: 7min51

Cache mechanism + take away: 4min45
- cache = 1min30
- take aways = 3min15

# Carine
Summary: 2:30

Shared memory parallelism: 5:00

Effect handlers: 10:00

Everything together: 11:30 (the end)

Bumps in the Road: 15

# Sonja 
Metrics

Conclusion

